.gradient {
  background: rgb(195, 7, 63);
  background: linear-gradient(180deg, rgba(195, 7, 63, 1) 0%, #1a1a1d 100%);
  height: 15vh;
  color: #fff;
  font-size: 15px;
}

.grid {
  height: 100%;
  text-align: center;
}

.grid .counter {
  font-size: 50px;
}

.grid p {
  font-size: 18px;
}

.container h3 {
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.container p {
  color: #1a1a1d;
}
